/* #header */

.header {
	@include media('<tablet') {
		text-align: center;
	}
	.logo {
		margin: 43px 0 30px;
		a {
			display: inline-block;
		}
	}
	.title h1 {
		font-size: $font-size-base * 1.875;
		color: $brand-success;
	}
	.subtitle {
		color: $brand-success;
		font-size: 20px;
		margin: 0 0 35px;
		display: inline-block;
	}
	.img-holder {
		@include media('>=tablet') {
			margin-left: -20px;
			margin-right: -20px;
		}
		@include media('>=desktop') {
			margin-left: 0;
			margin-right: -40px;
		}
		img {
			@include media('<tablet') {
				margin: 0 auto;
			}
		}
	}
}
#email {
	display: none;
	&:target {
		display: block;
	}
}